/* your styles go here */

:root{
    --primary-color: #7a2a2a;
    --secondary-color: #dddd1c;
    --grey-color: #808080;
    --white-color: #ffffff;
}

.img-container{
    background-image: url(/img/ArisaPic2.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
    background-color: gray;
}