/* your styles go here */

:root{
    --primary-color: #7a2a2a;
    --secondary-color: #dddd1c;
    --grey-color: #808080;
    --white-color: #ffffff;
}

.img-container{
    background-image: url(/img/ArisaPic2.jpg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right 0px top -50%;
    
    background-color: gray;
}
.arisaPic {
    background-image: url("/img/ArisaPic2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 50%;
    border: solid 2px red;
  }